
.head{
    background-color: rgb(197, 132, 154);
    width: 100%;
    height: 100%;
}


body{
    margin: 0;
}





.title{
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    font-family: Impact;
    /* margin-top: 40px; */
}


.text{
   
    text-align: center;
    font-size: 40px;
}

button{
    width: 250px;
    height: 80px;
    background-color: white;
    color: white;
   text-align: center;
   margin-left: 600px;
}


button:hover{
    background-color:rgb(160, 39, 80)
}

#quoteText{
    text-align: center;
    font-size: 35px;
}


#quoteButton{
    color: black;
}